@use "../common/main" as theme;

.app {
    height: 80%;
    width:80%;
    background-color: theme.$background-color;
    border-radius: theme.$border-radius-large;
    box-shadow: 3px 3px 10px theme.$background-shadow-color;
}