#content {
    background: linear-gradient(135deg, #1ED8AF, #1AD1C1 33%, #10BED7 66%, #0AAFE6);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}

html,body {
    height:100%;
    width:100%;
    margin: 0;
}